// NexusKey TSF DLL - Resources
// SPDX-License-Identifier: GPL-3.0-only

#include "resource.h"

IDI_VIET_ON  ICON "../app/resources/status/StatusViet.ico"
IDI_VIET_OFF ICON "../app/resources/status/StatusEng.ico"
